:root {
    --mdgrey: #dfdada;
    --dkgrey: #555;
    --ltgrey: #f7f3f3;
    --circle: teal;
    --font: 'Sanchez', serif;
}

* {box-sizing: border-box;}


body {
    margin: 0;
    padding: 0;
}

#topHeader {
    background-color: var(--ltgrey);
}

.circle {
    padding: 6px;
    height: 60px;
    width: 62px;
    border-radius: 50%;
    background-color: var(--circle);   
}

.h1-span {
    font-family: var(--font);
    color: white;
}

#heading {
    font-size: 35px;
}



.wish, .account, .shop, .checkout {
    font-size: 12px;
    padding-top: 10px;
}

.welcome-text {
    margin-left: 180px;
}

#headLink {
    font-size: 12px;
    padding-top: 10px;
}

.middle-header {
    margin-top: 50px;
}

.mid-group {
    margin-left: 75px;
}



/* .search-div {
    margin-right: 50px;
    padding-right: 35px;
} */

/* .welcome-text {
    padding-left: 10px;
} */

.money {
    list-style-type: none;
}

.money-item {
    margin-left: 3px;
}

.bottom-header {
    background-color: var(--mdgrey);
}

.four-cards {
    margin-top: 50px;
}

#cardOne, #cardTwo, #cardThree, #cardFour {
    border-style: none;
}

#headingArrows {
    margin-top: 30px;
}